<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contraseña </title>
    <link rel="stylesheet" href="estilos.css"> 
</head>
<body>

    <div class="contenedor">
        <h1>Bienvenido</h1>
        <p>Ingresa tus datos para continuar</p>

        <form>
            <label for="usuario">Usuario</label>
            <input type="text" id="usuario" placeholder="Ingresa tu usuario" required>

            <label for="contraseña">Contraseña</label>
            <input type="password" id="contraseña" placeholder="Ingresa tu contraseña" required>

            <button type="submit">Iniciar sesión</button>
        </form>
    </div>

</body>
</html>