<nav class="navegacion">

        <div class="contenedor navegacion__contenedor">

            <a href="#" class="navegacion__logo">
                ContadorSaravena
            </a>

            <ul class="navegacion__menu">

                <li class="navegacion__item">
                    <a href="#" class="navegacion__enlace">Inicio</a>
                </li>

                <li class="navegacion__item">
                    <a href="#" class="navegacion__enlace">Servicios</a>
                </li>

                <li class="navegacion__item">
                    <a href="#" class="navegacion__enlace">Nosotros</a>
                </li>

                <li class="navegacion__item">
                    <a href="#" class="navegacion__enlace">Contacto</a>
                </li>

            </ul>

        </div>

    </nav>